@using Wedding_Planner.Models
@model IEnumerable<Wedding>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Wedding Planner App!</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Wedding</th>
                <th>Date</th>
                <th>Guest Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var wedding in Model)
            {
                <tr>
                    <td>@wedding.WedderOne @wedding.WedderTwo</td>
                    <td>@wedding.Date</td>
                    <td>@wedding.RSVPs.Count()</td>
                    @{
                        if(wedding.UserId == ViewBag.UserId)
                        {
                            <td><a href="">DELETE</a></td>
                        }
                        else if(wedding.RSVPs.Any(r => r.UserId == ViewBag.UserId))
                        {
                            <td><a href="">Un-RSVP</a></td>
                        }
                        else
                        {
                            <td><a href="">RSVP</a></td>
                        }
                    }
                </tr>

            }
        </tbody>
    </table>
</body>
</html>